@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
  margin: 0;
  font-family: 'Spartan';
  display: flex; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
